# Sentinel Hub API Credentials
SENTINEL_CLIENT_ID=74523548-e2e8-4a34-8520-321f14432d5a
SENTINEL_CLIENT_SECRET=F3qNHUvjp8g83BuUEfPalq6i8w9Ui5II

# Verification Settings
FIRE_THRESHOLD=2500
BBOX_SIZE_KM=1.0

# Flask Server Settings
FLASK_PORT=8000
FLASK_HOST=0.0.0.0
FLASK_DEBUG=True
